.item {
  cursor: pointer;
  width: 100%;
}

.list {
  display: flex;
  justify-content: space-between;
}

.list .thumbnail {
  width: 180px;
  margin-right: 0.5rem;
}

.grid .thumbnail {
  width: 100%;
}

.list .body {
  width: calc(100% - 170px);
}

.title {
  font-size: 0.875rem;
  margin: 0.5rem 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list .title {
  margin: 0;
  max-width: 90%;
}

.channelTitle,
.publishedAt {
  color: gray;
}
