html {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

body {
  max-width: 1200px;
  padding: 0;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  margin: 0;
}

p {
  margin: 0.25rem 0;
}
